* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

svg {
  width: 100%;
  height: 110%;
  padding-top: 20px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 100%;
  margin-left: 36px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 1.115em;
  color: #333;
  line-height: 1.4em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2em
}

h2 {
  font-size: 1.7em
}

h3 {
  margin-top: 3em;
  font-size: 1.3em;
}

h4 {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: #09f;
}

.site-banner{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 2.0em;
  padding: 6px 0px 26px 0px;
  color: #667;
}

textarea {
  font-family: "Courier New", Courier, monospace;
  color: #000030;
  line-height: 1.5;
  background-color: #fefefe;
  border-width: 1px;
  border-color: #eee;
  font-size: 0.8em;
  resize: none;
}
textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
textarea:focus {
    outline: none !important;
    border: 1px solid #bbb;
    box-shadow: 0 0 5px #bbc;
}

select {
  margin: 0px 0px 0px 10px;
  font-size: 0.9em;
}

pre{
  margin-left: 2em;
  font-size: 1em;
  background-color: #fafafa;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.code {
  background-color: #fdfdfd;
  line-height: 1.2;
  font-family: "Courier New", Courier, monospace;
}

footer{
  padding: 20px 20px 20px 0px;
  bottom: 0;
  position: relative;
}

p{
  margin-block-start: 0em;
  font-size: 1em;
}

.controls {
  float: right;
}

button {
  float: right;
  margin: 0px 0px 0px 40px;
  outline: none;
  background-color: #ddd;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
  background-color: #bbb;
}
button:active {
  transform: translateY(4px);
}

.tech-error {
  color: #c22;
  font-size: 0.7em;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8em;
  color: #555;
}

th, td {
  text-align: left;
}

th {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 5px 10px;
}

table, th, td {

}

tr:nth-child(even) {background-color: #fafafa;}

.error {
  color: #db2e2e;
}

.warn {
  color: #e08a22;
}

.wrapper {
  height: 100%;
  width: 98%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 40px 350px 350px 40px auto auto;
  grid-gap: 6px
}

.bnr {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.viz-style, .btn {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.producer-area{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.consumer-area{
 grid-column: 1 / 2;
 grid-row: 4 / 5;
}

.buffer-area{
 grid-column: 1 / 2;
 grid-row: 5 / 6;
}

.display-error {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

#svg {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

@media only screen and (min-width: 768px) {
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px 400px 30px auto auto;
}

.bnr {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.btn {
  float: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.producer-area{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.consumer-area{
 grid-column: 2 / 3;
 grid-row: 2 / 3;
}

.buffer-area{
 grid-column: 1 / 3;
 grid-row: 3 / 4;
}

.display-error {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#svg {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
table {
  border-collapse: collapse;
}
